html{
    height:100vh;
    width: 100vw;
    padding: 16px 16px;
    box-sizing: border-box;
}

body{
    padding: 3%;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    align-items: center;
    margin-top: 10%;
}

input[type="number"]{
    padding: 0;
    width: 2.5rem;
    font-size: 1rem;
    height: 1.75rem;
    margin-right: 1rem;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center
}
input[type="number"]:focus{
    outline: none;
    border: none;
    border: 1px solid blue;
}

h1{
    font-size: 1rem;
    margin: 0;
}
.loader{
    padding: 5px;
}
.no-margin{
  margin: 0;
}
@media screen  and (orientation: portrait){
  .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  .settings{
    margin-bottom: 15%;
  }
}

@media screen  and (orientation: landscape){
  .content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .settings{
    margin-right: 15%;
  }
}

.personalize-switch {
  input {
    display:none;
  }
  span.switch {    
    display:inline-block;
    width:2.5rem;
    height:1.75rem;
    background: rgb(218,230,236);

    border-radius:20px;
    margin-right:1rem;
    position:relative;
    cursor:pointer;
    &:after {
      content:"";
      width:1.5rem;
      height:1.5rem;
      display:block;
      position:absolute;
      top:50%;
      left:0;
      background: white;
      border-radius:50%;
      transform:translate3d(7%, -50%,0);
      transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
  }
  input:checked {
    & + span.switch {
      background: rgb(0,92,255);
      &:after {
        transform:translate3d(60%, -50%,0);        
      }
    }
  }
}